#playingField td {
	padding: var(--empty-padding);
}

:root {
	--p-0-color: indianred;
	--p-1-color: lightblue;
	--can-draw: lightgreen;
	--p-0-selected-color: red;
	--p-1-selected-color: blue;
	--can-be-taken-color: darkviolet;
	--empty-padding: 40px;
	--occupied-padding: 5px;
}

.border td{
	border: black 1px solid;
	border-collapse: collapse;
}

.background-p-0 {
	background-color: var(--p-0-color);
	padding: var(--occupied-padding) !important;
}

.background-p-1 {
	background-color: var(--p-1-color);
	padding: var(--occupied-padding) !important;
}

.display-flex {
	display: flex;
}

.home-field {
	padding: var(--occupied-padding);
}

td {
	text-align: center;
	font-weight: bold;
}

.figures-p-0-container {
	margin-right: var(--occupied-padding);
}

.figures-p-1-container {
	margin-left: var(--occupied-padding);
}

.can-choose {
	cursor: pointer;
}

.can-place {
	background-color: var(--can-draw);
	cursor: pointer;
}

.selected-p-0 {
	padding: var(--occupied-padding) !important;
	background-color: var(--p-0-selected-color);
}

.selected-p-1 {
	padding: var(--occupied-padding) !important;
	background-color: var(--p-1-selected-color);
}

.can-be-taken {
	padding: var(--occupied-padding) !important;
	background-color: var(--can-be-taken-color);
	cursor: pointer;
}

.hidden {
	display: none;
}

#title {
	font-size: 30px;
	font-weight: bolder;
}

#unselectUnit {
	padding: 10px;
	font-size: 20px;
	cursor: pointer;
}

#playerContainer {
	display: block;
}

#turnContainer {
	display: block;
}

#selectedUnitContainer {
	display: block;
}

#playingFieldContainer {
	table-layout: fixed;
    width: 842px;
}